/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 /dts-v1/;
 #include <nordic/nrf52840_qiaa.dtsi>
 
 / {
	 model = "Nordic nRF52840 DK NRF52840";
	 compatible = "nordic,nrf52840-dk-nrf52840";

	 aliases {
		i2c = &i2c0;
		blue-led = &led0;
		red-led = &led1;
		measure-battery = &led2;
		shtc-3 = &shtc3_node;
		mpr-ls = &mprls_node;
	 };
 
	 chosen {
		 zephyr,console = &uart0;
		 zephyr,shell-uart = &uart0;
		 zephyr,uart-mcumgr = &uart0;
		 zephyr,bt-mon-uart = &uart0;
		 zephyr,bt-c2h-uart = &uart0;
		 zephyr,sram = &sram0;
		 zephyr,flash = &flash0;
		 zephyr,code-partition = &slot0_partition;
	 };
 
	 leds {
		 compatible = "gpio-leds";
		 led0: led_0 {
			 gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			 label = "Blue LED";
		 };
		 led1: led_1 {
			 gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
			 label = "Red LED";
		 };
		 led2: led_2 {
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			label = "Measure Battery";
		};		 
	 };
 
 
	 buttons {
		 compatible = "gpio-keys";
//		 button0: button_0 {	//20 1wire 
//			 gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH)>;
//			 label = "1wire";
//		 };
		 button1: button_1 { // 17 bmp
			 gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH)>;
			 label = "bmp data ready";
		 };
		 button2: button_2 {
			 gpios = <&gpio0 15 (GPIO_ACTIVE_HIGH)>;
			 label = "mlx data ready";
		 };
		 button3: button_3 {
			 gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH)>;
			 label = "loadcell speed";
		 };
		 button4: button_4 {
			 gpios = <&gpio0 23 (GPIO_ACTIVE_HIGH)>;
			 label = "loadcell data";
		 };
		 button5: button_5 {
			 gpios = <&gpio0 21 (GPIO_ACTIVE_HIGH)>;
			 label = "loadcell clk";
		 };
		 button6: button_6 {
			 gpios = <&gpio0 31 (GPIO_ACTIVE_HIGH)>;
			 label = "loadcell enable";
		 };
		 button7: button_7 {
			 gpios = <&gpio0 24 (GPIO_ACTIVE_HIGH)>;
			 label = "imu data ready";
		 };
		 button8: button_8 {
			 gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH)>;
			 label = "imu int 2";
		 };
		 button9: button_9 {
			 gpios = <&gpio0 4 (GPIO_ACTIVE_HIGH)>;
			 label = "supercap";
		 };	 				
	 };
 };

 i2c_0: &i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    sda-pin = < 14 >;
    scl-pin = < 13 >;
    label = "i2c";
    clock-frequency = <I2C_BITRATE_STANDARD>; 

	shtc3_node: shtcx@70 {
		compatible = "sensirion,shtcx";
		chip = "shtc3";
		measure-mode = "low-power";
		reg = <0x70>;
		label = "SHTC3";
	};

	mprls_node: mpr@18 {
		compatible = "honeywell,mpr";
		reg = <0x18>;
		label = "MPR";
	};
};
 
 &adc {
	 status = "okay";
 };
 
 &gpiote {
	 status = "okay";
 };
 
 &gpio0 {
	 status = "okay";
 };
 
 &gpio1 {
	 status = "okay";
 };
 
 &uart0 {
	 compatible = "nordic,nrf-uarte";
	 status = "okay";
	 current-speed = <115200>;
	 tx-pin = <6>;
	 rx-pin = <8>;
	 rts-pin = <5>;
	 cts-pin = <7>;
 };
 
 &flash0 {
 
	 partitions {
		 compatible = "fixed-partitions";
		 #address-cells = <1>;
		 #size-cells = <1>;
 
		 boot_partition: partition@0 {
			 label = "mcuboot";
			 reg = <0x000000000 0xc000>;
		 };
		 slot0_partition: partition@c000 {
			 label = "image-0";
			 reg = <0x0000C000 0x32000>;
		 };
		 slot1_partition: partition@3e000 {
			 label = "image-1";
			 reg = <0x0003E000 0x32000>;
		 };
		 scratch_partition: partition@da000 {
			 label = "image-scratch";
			 reg = <0x000da000 0x0001e000>;
		 };
 
		 /*
		  * The flash starting at 0x000f8000 and ending at
		  * 0x000fffff is reserved for use by the application.
		  */
 
		 /*
		  * Storage partition will be used by FCB/LittleFS/NVS
		  * if enabled.
		  */
		 storage_partition: partition@f8000 {
			 label = "storage";
			 reg = <0x000f8000 0x00008000>;
		 };
	 };
 };
 
 &usbd {
	 compatible = "nordic,nrf-usbd";
	 status = "okay";
 };
 